@model SchedulePicker.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

    <h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-6">

                <div class="card border-dark mb-2 mt-5 ">
                    <div class="card-header">
                        <b>@Html.DisplayFor(model => model.Name) Schedule</b>
                    </div>
                    <div class="card-body">
                        <table id="ScheduleTable" class="table table-striped table-bordered" data-id="@Model.Id">
                            <thead>

                                <tr class="">
                                    <th>
                                        Course
                                    </th>
                                    <th>
                                        Number
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Credits
                                    </th>
                                    <th>
                                        Course Type
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-lg-6">
                <div class="card border-dark mt-5 mb-2">
                    <div class="card-header">
                        <b>Courses Needed</b>
                    </div>
                    <div class="card-body">
                        <table id="StudentCoursesNeededtable" class="table table-striped table-bordered" data-id="@Model.Id">
                            <thead>
                                <tr class="">
                                    <th>
                                        Course
                                    </th>
                                    <th>
                                        Number
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Credits
                                    </th>
                                    <th>
                                        Course Type
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>


                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{

    <script src="~/View/Schedules/Details.js" asp-append-version="true"></script>
}