@model SchedulePicker.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1> @Html.DisplayFor(model => model.Name) </h1>

@section Scripts{ 
<script src="~/View/Courses/Details.js" asp-append-version="true"></script> 
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary text-white">
                @Html.DisplayFor(model => model.Prefix) @Html.DisplayFor(model => model.Number)
                <div class="float-right">
                    @Html.DisplayFor(model => model.Credits) Credits
                </div>
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card mt-2">
            <div class="card-header bg-info text-white">
                Prerequisites
            </div>
            <div class="card-body">
                <table class="table table-bordered  table-striped" id="PreReqTable" data-id="@Model.CourseId">
                    <thead class="">
                        <tr>
                            <th>
                                Course
                            </th>
                            <th>
                                Number
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Credits
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card mt-2">
            <div class="card-header bg-info text-white">
                Corequisites
            </div>
            <div class="card-body">
                <table class="table table-bordered  table-striped" id="CoReqTable" data-id="@Model.CourseId">
                    <thead>
                        <tr>
                            <th>
                                Course
                            </th>
                            <th>
                                Number
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Credits
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
