@model Schedule.Models.Course

@{
    ViewData["Title"] = "Details";
}

    <h1>
        <b>@Html.DisplayFor(model => model.Name)</b>
    </h1>

<div>
    <div class="container">
        <div class="row">

            <div class="card">
                <div class="card-header">
                    @Html.DisplayFor(model => model.Prefix) @Html.DisplayFor(model => model.Number)
                    <div class="float-right">
                        Credits: @Html.DisplayFor(model => model.Credits)
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                       
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
