@model IEnumerable<SchedulePicker.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Computer Science Courses</h1>
<style>
    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#coursetable').DataTable();
        });
    </script>
}

<table class="table table-bordered  table-striped"  id="coursetable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
